<h1 class="mb-3">あるあるガチャ</h1>
<%= link_to '一回まわす', gachas_ikkai_path, class:'btn btn-lg btn-success mr-4' %><%= link_to '１０連ガチャ', gachas_jukkai_path, class:'btn btn-lg btn-primary' %>
<%= render 'posts/posts_jukkai', posts: @posts %>